<!DOCTYPE html>
<html>
<head>
    <title>Employee Records</title>
</head>
<body>
<!-- begin inner template-->
<nav>
    <a href="/">Home</a>
    <a href="/managers">Managers</a>
    <a href="/managers/new">Add a new Manager</a>
    <a href="/engineers">Engineers</a>
    <a href="/engineers/new">Add a new Engineer</a>
    <a href="/departments">Departments</a>
    <a href="/departments/new">Add a new Department</a>
</nav>
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->
</body>
</html>